.askbook-ticket {
    display: flex;
    margin-top: 0rem;
    // margin-top:2rem;
    align-items: center;

    p {
        margin: 0px 0px 0px 4px;
        color: rgb(8, 8, 8);
        font-size: 14px;
        font-weight: 600;
    }
    
}
