<mat-divider style="margin-top:5px;"></mat-divider>
<div class="askbook-ticket">
    <p>My Application Status</p>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>search</mat-icon>
            <!-- <span>Search Train</span> -->
            <a href="https://esewa.punjab.gov.in/trackStatus" class="custom-link">
                <p style="color: black;text-decoration: none;font-weight: bold;">Track Application Status</p>
            </a>
        </button>
        <!-- <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Select the best Train</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Enter IRCTC OTP</span>
        </button>
        <button mat-menu-item>
            <mat-icon>check_circle_outline</mat-icon>
            <span>Ticket is booked</span>
        </button> -->
    </mat-menu>
</div>