
    <div class="">
      <i [attr.tabindex]="0" class="material-icons close-icon" (keydown.enter)="dialogeClose()"
        (click)="dialogeClose()">
        cancel
      </i>
    </div>

  <div class="main-wrapper profile-container">
    <app-header></app-header>
    <div class="app-content">
        <!-- <app-welcome-text></app-welcome-text>
        <app-content></app-content>
        <app-how-to-book-ticket></app-how-to-book-ticket> -->
        <!-- <app-message-box></app-message-box> -->
        <!-- <app-chat></app-chat> -->
        <app-footer></app-footer>

    </div>
  </div>