<div class="main-container">
  <div class="text-content">
    <div class="text-action">
      <div class="text">
        <p>Services you are looking For?</p>
      </div>
      <div class="icon">
        <mat-icon mat-dialog-close>close</mat-icon>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="looking-click-content">
    <app-looking-for></app-looking-for>
  </div>
  <!-- <div class="container">
    <button mat-icon-button class="example-icon">
      <mat-icon>keyboard_tab</mat-icon> Login
    </button>
  </div> -->
</div>