.main-wrapper {
    // width: 30%;
    width: 400px;
    max-height: 800px;
    margin: auto;
    display: grid;
    border: 2px solid black;
    // background-image: url('../assets/background.png') no-repeat center center fixed;

}

// .app-content {
//     overflow-y: auto;
//     max-height: 500px;
// }

// .app-content {
//     border: 3px solid black;
// }

.image {
    height: 100px;
    width: 100px;
    border-radius: 200px;
}

.imgbtn {
    background-color: transparent;
    // border-radius: 200px;
    height: 60px;
    width: 50px;
    border: 0px;
    // padding-top: 550px;
    // padding-left: 1270px;
    position: absolute;
    right: 0;
    bottom: 0;
    // overflow: auto;

}