<!-- <button (click)="toggleChat()">---</button> -->
<!-- <div class="main-wrapper" *ngIf="isOpen ==true">
    <app-header></app-header> -->
    <!-- <app-welcome-text></app-welcome-text> -->
    <!-- <div class="app-content">
        <app-welcome-text *ngIf="!showChat"></app-welcome-text>
        <app-content *ngIf="!showChat"></app-content>
        <app-how-to-book-ticket *ngIf="!showChat"></app-how-to-book-ticket> -->
        <!-- <app-message-box></app-message-box> -->
        <!-- <app-chat *ngIf="showChat"></app-chat>
        <app-footer></app-footer>

    </div> -->
    <!-- <app-how-to-book-ticket></app-how-to-book-ticket>
     <app-message-box></app-message-box> -->
    <!-- <app-footer></app-footer> -->
    <!-- <div id="sect1"class="container">       
        <!-- <h2>Now Load image on the displa\</h2>  
        </div> -->

<!-- </div> -->
<!-- <app-pop-up></app-pop-up> -->
<button (click)="openDialog()" class="imgbtn"><img class="image" src="../assets/pop up.png"></button>