<div class="container">
  <div class="lookings-item">
    <div class="item-list">
      <div class="item" style="background-color: rgb(252, 237, 236)">
        <a href="https://www.google.com" target="_blank">
          <img src="../../assets/OldAgePension.png" alt="Old Age Pension" />
          <p>Old Age Pension</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(252, 247, 236)">
        <a href="https://www.google.com" target="_blank">
          <img src="../../assets/DisabledPersonPension.png" alt="Disability Pension" />
          <p>Disability Pension</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(239, 248, 253)">
        <a href="https://www.google.com" target="_blank">
          <img src="../../assets/RuralAreaCertificate.png" alt="Rural Area Certificate" />
          <p>Rural Area Certificate</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(255, 238, 238)">
        <a href="https://www.google.com">
          <img src="../../assets/SeniorCitizenCard.png" alt="Sr. Citizen Identity Card" />
          <p>Sr. Citizen Identity Card</p>
        </a>
      </div>
    </div>
    <div class="item-list">
      <div class="item" style="background-color: rgb(235, 238, 253)">
        <a href="https://www.google.com">
          <img src="../../assets/MarriageCertificate.png" alt="Marriage Registration" />
          <p>Marriage Certificate</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(240, 239, 253)">
        <a href="https://www.google.com">
          <img src="../../assets/CasteCertificate.png" alt="Caste Certificate" />
          <p>Caste Certificate</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(227, 255, 240)">
        <a href="https://www.google.com">
          <img src="../../assets/ElectricityBill.png" alt="Electricity Bill Payment" />
          <p>Electricity Bill Payment</p>
        </a>
      </div>

      <!-- <div class="item" style="background-color: rgb(235, 250, 230)">
        <a href="https://www.google.com" target="_blank">
          <img src="../../assets/DependentChildrenPension.png" alt="Dependent Children Pension" />
          <p>Children Pension</p>
        </a>
      </div> -->
    </div>
    <div class="item-list list-3">
      <div class="item" style="background-color: rgb(239, 248, 253)">
        <a href="https://www.google.com" target="_blank">
          <img src="../../assets/BirthCertificate.png" alt="Birth/Death Certificate" />
          <p>Birth/Death Certificate</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(253, 247, 231)">
        <a href="https://www.google.com" target="_blank">
          <img src="../../assets/TrackServices.png" alt="Track Services" />
          <p>Track Services</p>
        </a>
      </div>

      <div class="item" style="background-color: rgb(253, 247, 231)">
        <a href="https://www.google.com" target="_blank">
          <img src="../../assets/FindSewaKendra.png" alt="Find Sewa Kendra" />
          <p>Find Sewa Kendra</p>
        </a>
      </div>
    </div>
  </div>
</div>